<div id="node-list">
    <app-node base-id="mariana"></app-node>
    <app-node base-id="e-prime"></app-node>
    <app-node base-id="lith"></app-node>
    <app-node base-id="erpo"></app-node>
    <app-node base-id="everest"></app-node>
    <app-node base-id="gaia"></app-node>
    <app-node base-id="mantle"></app-node>
    <app-node base-id="cambria"></app-node>
    <app-node base-id="eurasia"></app-node>
    <app-node base-id="pacific"></app-node>
    <app-node base-id="cervantes"></app-node>
    <app-node base-id="coba"></app-node>
    <app-node base-id="tikal"></app-node>
    <app-node base-id="oro"></app-node>
</div>